/*******************************
Basic Page Styles
*******************************/

body {
    margin: 0; 
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    font-size: large;
    font-weight: bold;
}

.main-header {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.bio {
    padding: 0 30%;
    text-align: justify;
}

h2 {
    text-shadow: 1px 1px 1px #8c8c8c;
    font-size: xx-large;
}

h3 {
    text-decoration:underline; 
    font-size: x-large;
    text-shadow: 1px 1px 3px #ff2bff; 
}

.faqs {
    padding: 0 25%;
    text-align: center;
}

#faq-link {
    text-decoration: none;
    color: #ff2bff;
    display: inline-block;
}

.quote {
    padding: 0;
    font-family: 'Crafty Girls', cursive;
    font-size: 10px;
}

/*******************************
Navigation Bar Header
*******************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
    overflow: hidden;
    border-bottom: 2px dashed #e2c158;
}


li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-top: 1.5em;
}

.active {
    font-size: xx-large;
    color: #ff2bff;
}

li a:hover:not(.active) {
    color: #8c8c8c;
}

.top-nav {
    float: right;
    padding: 15px;
    text-transform: lowercase;
    font-size: x-large;
}

/*******************************
Images
*******************************/

#main-logo {
    max-width: 25%;
}

#main-logo-shopping {
    width: 200px;
    float: left;
    padding-left: 5em;
}

#thank-you-heart {
    max-width: 30px;
}

#family-photo {
    max-width: 50%;
    min-width: 200px;
    float: right;
}

#contact-email, #contact-facebook {
    max-width: 100px;
}

#gallery1, #gallery2, #gallery3 {
    max-width: 20%;
    padding: 10px;
}

/*******************************
Navigation Bar Footer
*******************************/

.footer-nav {
    text-transform: lowercase;
    font-size: x-large;
    background color: #000;
    display: inline-block;
    padding: 0 2em;
    
}

/*******************************
Footer
*******************************/

#thank-you {
    font-family: 'Crafty Girls', cursive;
}

#insta, #email, #facebook {
    max-width: 30px;  
    padding: 1em;
    align-content: center;
}

@media screen and (max-width: 700px){
    .top-nav {float: right;}
}
    
@media screen and (max-width: 600px){
    .top-nav, .footer-nav {padding: 4px;}
    .top-nav, footer-nav {float: none;}
    .top-nav, footer-nav {font-size: large;}
    .top-nav a {padding-top: 0;}
}
    