/*******************************
Basic Page Styles
*******************************/

body {
    margin: 0; 
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    font-size: large;
    font-weight: bold;
}

.main-header {
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    position: fixed;
    background-color: white;
    z-index: 9999;
}

.content {
    margin-top: 200px;
    padding: 0 10%;
}

.bio {
    padding: 0 15%;
    text-align: justify;
}

h2 {
    text-shadow: 1px 1px 1px #8c8c8c;
    font-size: xx-large;
}

.faqs {
    padding: 0 25%;
    text-align: center;
}

#faq-link {
    text-decoration: none;
    color: #ff2bff;
    display: inline-block;
}

.quote {
    padding: 10px;
    font-family: 'Crafty Girls', cursive;
    font-size: 1em;
}

#signature {
    text-align: center;
    padding: 15px 0 0 15px;
}

/*******************************
Navigation Bar Header
*******************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 2em;
    overflow: hidden;
    border-bottom: 2px dashed #e2c158;
}


li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-top: 1em;
}

.active {
    font-size: xx-large;
    color: #ff2bff;
}

li a:hover:not(.active) {
    color: #8c8c8c;
}

.top-nav {
    
    float: right;
    padding: 15px;
    text-transform: lowercase;
    font-size: x-large;
}

ul.nav li.icon {
    display: none;
}

/*******************************
Images
*******************************/

#main-logo {
    max-width: 25%;
}

#main-logo-shopping {
    width: 200px;
    float: left;
    padding-left: 5em;
}

#thank-you-heart {
    max-width: 30px;
}

#family-photo {
    max-width: 50%;
    min-width: 200px;
    float: right;
    padding-left: 5px;
}

#favorite {
    max-width: 20%;
    min-width: 100px;
    float: left;
    padding-right: 5px;
}

#contact-email, #contact-facebook {
    max-width: 75px;
}

#gallery1, #gallery2, #gallery3 {
    max-width: 20%;
    padding: 1px;
}

/*******************************
Navigation Bar Footer
*******************************/

.footer-nav {
    text-transform: lowercase;
    font-size: x-large;
    background color: #000;
    display: inline-block;
    padding: 0 2em;
 }

/*******************************
Footer
*******************************/

#thank-you {
    font-family: 'Crafty Girls', cursive;
}

#insta, #email, #facebook {
    max-width: 30px;  
    padding: 1em;
    align-content: center;
}

/*******************************
Media Queries
*******************************/

@media screen and (max-width:975px) {
    ul.nav li {display: none;}
    ul.nav li.icon {
        float: right;
        display: inline-block;
  }
}

@media screen and (max-width:975px) {
    ul.nav.responsive {position: relative;}
    ul.nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    } 
    ul.nav.responsive li a {
        display: block;
        text-align: right;
        padding-top: 0;
        font-size: small;
    }
    .quote {
        font-size: small;
    }
    .footer-nav {
    font-size: 20px;
    display: inline-block;
    padding: 0 1em;
    }
}

@media screen and (max-width:450px) {
    #main-logo-shopping{
        width: 100px;
        padding-left: 0em;        
    }    
    .content {
        margin-top: 100px;
        padding: 0 10px;
    }
    .quote {
        font-size: x-small;
    }
    .footer-nav {
    font-size: medium;
    display: inline-block;
    padding: 0 1em;
    }
    
}




    